
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    min-height: 100vh;
    background-image: linear-gradient(white, gray);
    margin:none;
}

#customers {
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(212, 212, 204);
    color: black;
    text-align: center;
    position: relative;
}

.footerDIV {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer_title {
    font-size: 20px;
    margin-top: 10pxs;
}